---
layout: default
---

{%- include home-header.html -%}


<div class="page">
  <h1 class="page-title">Portfolio</h1>
  <p class="lead">Welcome! In this portfolio, I have placed some interesting projects that I have been working. 
                  The projects has been placed on the above tabs, and each tab has been labeled by the topic of the projects. 
                  Therefore, to see the projects, you can click on the tabs!  </p>
  
  <img src="/images/data.gif" />
  
  <p class="lead">To start exploring my portfolio, first you can go to the  
    <a href="{{ "/mldl/" | relative_url }}"> ML,DL & TS models</a>  tab to see the projects about machine learning, deep learning and time series! 
    For the other topics, you can move between the tabs. Enjoy!! </p>
</div>
